<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于</title>
	<meta name="description" content="about"/>
</head>
<body>
	<%= require('html!./common/header.html') %>
	<div>
    <h1>List</h1>
    <ul>
      <li>The page build by webpack</li>
      <li>The page build by webpack</li>
      <li>The page build by webpack</li>
      <li>The page build by webpack</li>
      <li>The page build by webpack</li>
    </ul>
  </div>
	<%= require('html!./common/footer.html') %>
</body>
</html>